{% extends 'LocalMoving.html'%}


{% block  Headingtext %}
        
<h1 id="Headtext" style="font-weight: bold; text-transform: uppercase;color:white;">Commercial Moving</h1>

{% endblock %}

{% block paragraph %}
        <p style="font-size: 20px; color:wheat;">Specialized moving services for businesses of all sizes.
             We understand the unique needs of office relocations and minimize disruption to your operations.
             Our team efficiently moves office furniture, equipment, and electronics."</p>
           
           {% endblock %}
{% block bsprice%}
<h1 class="Price1">Price:40$</h1>
{% endblock%}

{% block asprice%}
<h1 class="Price2">Price:55$</h1>
{% endblock %}