{% extends 'LocalMoving.html'%}


{% block  Headingtext %}
        
<h1 id="Headtext" style="font-weight: bold; text-transform: uppercase;color:white;">Long Distance Moving</h1>

{% endblock %}

{% block paragraph %}
        <p style="font-size: 20px; color:wheat;">Seamless long-distance moves across states or even internationally. 
                We ensure your belongings arrive safely and on time, no matter the distance. Our services include door-to-door delivery and full insurance</p>
           
           {% endblock %}
{% block bsprice%}
<h1 class="Price1">Price:30$</h1>
{% endblock%}

{% block asprice%}
<h1 class="Price2">Price:45$</h1>
{% endblock %}