{% extends 'LocalMoving.html'%}


{% block  Headingtext %}
        
<h1 id="Headtext" style="font-weight: bold; text-transform: uppercase;color:white;">Pet Relocation</h1>

{% endblock %}

{% block paragraph %}
        <p style="font-size: 20px; color:wheat;">Stress-free pet relocation services to ensure your furry friends travel comfortably and safely. 
            We provide specialized transportation and care for pets,
             making the moving experience enjoyable for both you and your pets."
           
           {% endblock %}
{% block bsprice%}
<h1 class="Price1">Price:25$</h1>
{% endblock%}

{% block asprice%}
<h1 class="Price2">Price:30$</h1>
{% endblock %}