{% extends 'LocalMoving.html'%}


{% block  Headingtext %}
        
<h1 id="Headtext" style="font-weight: bold; text-transform: uppercase;color:white;">Storage</h1>

{% endblock %}

{% block paragraph %}
        <p style="font-size: 20px; color:wheat;">Secure and climate-controlled storage solutions for short-term or long-term needs.
             We offer flexible storage options to accommodate various requirements, 
            ensuring your belongings are safe and protected while in our care.
           
           {% endblock %}
{% block bsprice%}
<h1 class="Price1">Price:10$</h1>
{% endblock%}

{% block asprice%}
<h1 class="Price2">Price:15$</h1>
{% endblock %}